node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
repomix-output.md

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test
.idea/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
